<div class="container">
  <div class="left">
    <h2>Get</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="gets()">
      All
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getsMatchOr()">
      Match Canada or Equal AreaId 3
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getKeys()">
      Keys
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getsIndonesia()">
      Equals Indonesia
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getsMatchCase()">
      Match sweden
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getSortName()">
      Sort Name
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getSortAreaId()">
      Sort Area Id
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getSortDate()">
      Sort Date
    </a>

    <h2>Limit</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="getsLimit(2, 2)">
      Limit 2 Offset 2
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="getsLimit(2, 4)">
      Limit 2 Offset 4
    </a>


    <h2>Count</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="count()">
      Count Area ID  2
    </a>

    <h2>Put</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="put({ id: id, country: 'India', date: null, areaId: 7 })">
      India
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="putIndia()">
      Update India
    </a>

    <h2>Post</h2>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="post()">
      Account Post
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="filePost()">
      File Post
    </a>

    <h2>Delete</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="deleteAll()">
      Account Delete All
    </a>
    
    <a 
        mat-raised-button 
        color="primary" 
        (click)="clear()">
      Clear
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="destroy()">
      Destroy
    </a>


    <h2>Sync</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="startSync()">
      Start Sync
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="stopSync()">
      Stop Sync
    </a>

    <h2>Console</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="openConsole()">
      Open Console
    </a>
  </div>
  <div class="right">
    <fieldset>
      <legend>
        Values
      </legend>
      {{values|json}}
    </fieldset>
  </div>
</div>